{% extends 'base.html.twig' %}

{% block title %}Edit Parameters{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Edit Parameters</h1>

    {{ include('parameters/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parameters_index') }}">back to list</a>

    {{ include('parameters/_delete_form.html.twig') }}
</div>

{% endblock %}
