body, html {
    height: 100%;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'DotGothic16', sans-serif;
   display: flex;
   flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    min-height:250px;
    padding-top: 10px;
    background-color: #120e1a;
    color: white; 
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    margin-top: auto;
}

.header-jumbotron {
    min-height: 300px;
    background: #162433;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    color: #c4c2c7;
}

.area-presentation {
    grid-area: 1 / 2 / 2 / 4;
}

.area-design {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-sentence {
    grid-area: 2 / 3 / 4 / 5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sentence {
    display: flex;
    flex-direction: column;
    background: #303030;
    color: #56f27f;
    padding: 2px 5px;
    font-size: 12px;
}

.sentence p {
    text-align: justify;
}

.sentence span {
    align-self: start;
}

.sentence blockquote {
    align-self: flex-end;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-right: 5px;
}

.box-html {
    background: #f54842;
    color: #162433;
}

.box-css {
    background: #78c2ff;
    color: #162433;
}

.box-javascript {
    background: #9aeb56;
    color: #162433;
}

.box-php {
    background: #efa1ff;
    color: #162433;
}

.box-sql {
    background: #89f592;
    color: #162433;
}

.wrapper {
    width: 700px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5px 20px;
}

.wrapper h1 {
    text-align: center;
}

.form-input, .btn {
    align-self: center;
    width: 400px;
    margin: 10px;
    cursor: pointer;
}

.label-form {
    align-self: center;
}

.table td, th {
    border: 1px solid;
}

.bg-grey {
    background: lightgrey;
}
