@media (max-width: 1280px) {
    .header-jumbotron {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .area-sentence {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .sentence {
        width: 90%;
        height: auto;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr;
        min-height:250px;
        padding-top: 10px;
        background-color: #120e1a;
        color: white;
        font-size: 14px;
        text-align: center;
    }

    .wrapper p {
        display: flex;
        justify-content: center;
    }

    .wrapper p iframe {
        width: 100%;
        height: auto;
    }
       
}