/**
*
* Style de la page d'accueil
*
*/
@media (min-width: 1280px) {
    .header-jumbotron {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 250px;
    }

    .area-presentation {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
        display: flex;
        align-items: center;
    }
  
    .area-sentence {
        grid-area: 1 / 3 / 2 / 4;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sentence {
    display: flex;
    flex-direction: column;
    background: #303030;
    color: #56f27f;
    padding: 2px 5px;
    font-size: 12px;
}

.sentence p {
    text-align: justify;
}

.sentence span {
    align-self: start;
}

.sentence blockquote {
    align-self: flex-end;
}
