/**
*
* Style de la page d'accueil
*
*/

@media (max-width: 1280px) {
    .header-jumbotron {
        background: #162433;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        color: #c4c2c7;
    }

    .area-presentation {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        text-align: center;
    }

    .area-design {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .area-sentence {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .sentence {
        width: 90%;
        height: auto;
    }
}

@media (min-width: 1280px) {
    .header-jumbotron {
        background: #162433;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        color: #c4c2c7;
    }

    .area-presentation {
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }

    .area-design {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .area-sentence {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        min-height: 200px;
        width: 50%;
    }
}

.sentence {
    display: flex;
    flex-direction: column;
    background: #303030;
    color: #56f27f;
    padding: 2px 5px;
    font-size: 12px;
}

.sentence p {
    text-align: justify;
}

.sentence span {
    align-self: start;
}

.sentence blockquote {
    align-self: flex-end;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-right: 5px;
    font-size: 0.8em;
}

.box-html {
    background: #f54842;
    color: #162433;
}

.box-css {
    background: #78c2ff;
    color: #162433;
}

.box-javascript {
    background: #9aeb56;
    color: #162433;
}

.box-php {
    background: #efa1ff;
    color: #162433;
}

.box-sql {
    background: #89f592;
    color: #162433;
}
