/**
    Création de la grille de la navbar
    NPP (Note pour plutard) : Ajouter des médias Queries pour gérer les différents supports
**/
.navbar {
    display: grid;
    grid-template-columns: 200px repeat(4, 1fr) 200px;
    grid-template-rows: 40px;
}

.area-brand {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.area-brand a {
    text-decoration: none;
}

.area-login {
    grid-area: 1 / 6 / 2 / 7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-login button {
    width: 100px;
    height: 30px;
    padding: 3px 10px;
    background: #3E5FE6;
    border: none;
    color: rgb(235, 223, 223);
    border-radius: 3px;
    cursor: pointer;
}

.area-login button:hover {
    background: #254bdd;
}
