/**
    Création de la grille de la navbar
    NPP (Note pour plutard) : Ajouter des médias Queries pour gérer les différents supports
**/
.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 40px;
}

.area-brand {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: end;
    align-items: center;
}

.area-brand a {
    text-decoration: none;
}

.area-login {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
}

.area-login button {
    width: 100px;
    height: 30px;
    padding: 3px 10px;
    background: #F54842;
    border: none;
    color: rgb(235, 223, 223);
    border-radius: 3px;
    cursor: pointer;
}

.area-login button:hover {
    background: #254bdd;
}
