body {
    margin-top: 30px;
}

footer {
    background-color: #130E1C;
    color: white;
}

.jumbotron {
    background-color: #47A5FC;
}

.card-body-concept {
    height: 190px;
}

.badge-position-right {
    position: absolute; top: 30%; right: 10%;
}

.badge-position-left {
    position: absolute; top: 30%; left: 10%;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}