{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Les connaissances nécessaires</h3>
                <li>html</li>
                <li>css</li>
                <li>PHP (Symfony)</li>
                <li>Javascript</li>
            </div>
        </div>
    </div>
{% endblock %}
