{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
    <div class="container">

        <h3>Les connaissances nécessaires</h3>
        <div class="row d-flex justify-content-center">
            <div class="col-md-2 border border-1 mr-2">
                <h4 class="text-center">HTML</h4>
            </div>
            <div class="col-md-2 border border-1 mr-2">
                <h4 class="text-center">CSS</h4>
            </div>
            <div class="col-md-2 border border-1 mr-2">
                <h4 class="text-center">JAVASCRIPT</h4>
            </div>
            <div class="col-md-2 border border-1">
                <h4 class="text-center">PHP</h4>
            </div>
        </div>
    </div>
{% endblock %}
