<footer>
    <div class="leftArea">
        
    </div>
    <div class="centerArea">
        <h3>&copy; Ingrédient Technique</h3>
    </div>
    <div class="rightArea">
        <ul>
            <li><a href="#">À propos</a></li>
            <li><a href="">politique de confidentialité</a></li>
        </ul>
    </div>
</footer>