<footer>
    <div class="leftArea">
        
    </div>
    <div class="centerArea">
        <h3>&copy; Ingrédient Technique</h3>
    </div>
    <div class="rightArea">
        <ul>
            <li><a href="{{ path('references') }}">Références</a></li>
        </ul>
    </div>
</footer>