{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Historique</h3>
                <h5>semaine 50 (7 au 13 déc 2020)</h5>
                <ul>
                    <li>Choix d'un hébergement Web et nom de domaine</li>
                    <li>Création d'un dépôt github</li>
                    <li>Création du projet symfony avec Symfony-cli</li>
                    <li>Installation des composants make template annotation</li>
                    <li>Création de la première page uniquement en HTML</li>
                    <li>Ajout du framework Bootstrap</li>
                    <li>Ajout d'une barre de navigation</li>
                    <li>Ajout d'un jumbotron</li>
                    <li>Structure de la page avec un header et footer</li>
                    <li>Création de cartes Bootstrap</li>
                    <li>Création des pages à propos, historique, contact, outils et connaissances</li>

                    <p>Pour le moment je ne m'occupe que de la partie statique du site</p>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
