{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}

    <header>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Objectif</h4>
                            <p>
                                Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
                                Et de créer un site permettant de réviser et de s' auto-évaluer.
                            </p>
                        </div>
                        <div class="col-md-3 border border-1 bg-white shadow">
                            <h5 class="w-100 text-center">Phrase du jour</h5>
                            <p>{{ sentence.content }}</p>
                            <blockquote class="text-right">{{ sentence.author }}</blockquote>
                        </div>
                    </div>
                </div>
            </div>
    </header>    

    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h5 class="mb-3">Derniers ajouts</h5>
                {% set nbElement = 1 %}
                {% for concept in concepts %}
                    {% if (nbElement == 1) or (nbElement == 5) %}
                        <div class="row">
                    {% endif %}
                    <div class="col-md-3">
                        <a href="{{ path('concept_show', {'id': concept.id }) }}" style="text-decoration: none; color: black;">
                            {% include('concept.html.twig') %}
                        </a>
                    </div>
                    {% if (nbElement == 4) or (nbElement == 8) %}
                        </div>
                    {% endif %}
                    {% set nbElement = nbElement + 1 %}
                {% endfor %}
                {% if (concepts|length <= 4) or (concepts|length <= 8) %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
