{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <header class="header-jumbotron">
            <div class="area-presentation">
                <p>
                Bienvenue sur le site d'Ingrédient Technique. Un site qui parle de développement Web
                </p>
            </div>
            <div class="area-design">
                <div class="box box-html"><span>HTML5</span></div>
                <div class="box box-css"><span>CSS3</span></div>
                <div class="box box-javascript"><span>JS</span></div>
                <div class="box box-php"><span>PHP</span></div>
                <div class="box box-sql"><span>SQL</span></div>
            </div>
            <div class="area-sentence">
                <div class="sentence">
                    <span>Ready
                    &#9632;</span>
                    <p>{{ sentence.content|raw }}</p>
                    <blockquote class="text-right">{{ sentence.author }}</blockquote>
                </div>
            </div>
    </header>

    <div class="wrapper">
    <h1>{{ concept.title }}</h1>

    <p>{{ concept.content|raw }}</p>
    </div>          
{% endblock %}
