{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h4>Objectif</h4>
                        <p>
                            Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
                            Et de créer un site permettant de réviser et de s' auto-évaluer.
                        </p>
                    </div>
                    <div class="col-md-3 border border-1">
                        <h5 class="w-100 text-center">Phrase du jour</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolorem dolorum
                            esse est in labore maiores molestiae nesciunt nostrum pariatur quis quod ratione
                            repellat tempora vel vitae, voluptate voluptatem!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h5>Derniers tutoriels</h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow rounded">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-3 d-flex justify-content-center">
                <h5>Bloc Membre</h5>
            </div>
        </div>
    </div>
{% endblock %}
