{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <header class="header-jumbotron">
            <div class="area-presentation">
                <p>
                Bienvenue sur le site d'Ingrédient Technique. Un site qui parle de développement Web
                </p>
            </div>
            <div class="area-sentence">
                <div class="sentence">
                    <span>Ready
                    &#9632;</span>
                    <p>{{ sentence.content|raw }}</p>
                    <blockquote class="text-right">{{ sentence.author }}</blockquote>
                </div>
            </div>
    </header>
    <div class="wrapper">
    <h1>{{ concept.title }}</h1>

    <p>{{ concept.content|raw }}</p>
    </div>          
{% endblock %}
