{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
<h1>Ingrédient technique</h1>
    <p>
        Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
        Le site se construira tout doucement, au fur et à mesure des tutos disponibles sur la chaîne Youtube
        https://www.youtube.com/channel/UCHg1PozgcwL_iCdFFzNLeOw/
    </p>
    <p>
        Cette page blanche est le plan de travail, nous allons découvrir la liste des ingrédients utilisés
        pour démarrer la construction d'un site web.
    </p>
    <p>
        À travers ce site nous découvrirons plusieurs technologies. L'idée est d'échanger sous forme de mini tuto (moins de 5mn).<br>
    </p>
{% endblock %}
