{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h5 class="mb-3">Derniers ajouts</h5>
                {% set nbElement = 1 %}
                {% for concept in concepts %}
                    {% if (nbElement == 1) or (nbElement == 5) %}
                        <div class="row">
                    {% endif %}
                    <div class="col-md-3">
                        <a href="{{ path('concept_show', {'id': concept.id }) }}" style="text-decoration: none; color: black;">
                            {% include('concept.html.twig') %}
                        </a>
                    </div>
                    {% if (nbElement == 4) or (nbElement == 8) %}
                        </div>
                    {% endif %}
                    {% set nbElement = nbElement + 1 %}
                {% endfor %}
                {% if (concepts|length <= 4) or (concepts|length <= 8) %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
