{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <header class="header-jumbotron">
            <div class="area-presentation">
                <p>
                Bienvenue sur le site d'Ingrédient Technique. <br>
                Un site qui parle de développement Web
                </p>
            </div>
            <div class="area-sentence">
                <div class="sentence">
                    <span>Ready
                    &#9632;</span>
                    <p>{{ sentence.content|raw }}</p>
                    <blockquote class="text-right">{{ sentence.author }}</blockquote>
                </div>
            </div>
    </header>
    <div class="wrapper">
        <h1>En construction</h1>

        <p>
            <iframe src="https://giphy.com/embed/LqMn3zJKoi93O"
            frameBorder="0" class="giphy-embed" allowFullScreen>
            </iframe><p><a href="https://giphy.com/gifs/internet-cartoon-computer-LqMn3zJKoi93O">via GIPHY</a></p>
        </p>
    </div>          
{% endblock %}
