{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
<h1>Ingrédient technique</h1>
    <p>
        Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
        Le site se construira tout doucement. <br>
        Une chaîne Youtube sera également disponible avec des minis tutos (~ 5mn) https://www.youtube.com/channel/UCHg1PozgcwL_iCdFFzNLeOw/
    </p>
    <p>
        Cette page blanche est le plan de travail, nous allons découvrir la liste des ingrédients utilisés
        pour démarrer la construction d'un site web.
    </p>

    <h3>Les outils</h3>
    <ul>
        <li>Un ordinateur</li>
        <li>IDE</li>
        <li>XAMPP</li>
        <li>Émulateur console</li>
        <li>Une connexion internet</li>
        <li>De la motivation</li>
    </ul>

    <h2>Les ingrédients</h2>
    <li>html</li>
    <li>css</li>
    <li>PHP (Symfony)</li>
    <li>Javascript</li>

    <h2>Semaines</h2>
    <h3>semaine 50 (7 au 13 déc 2020)</h3>
    <ul>
        <li>Choix d'un hébergement Web et nom de domaine</li>
        <li>Création d'un dépôt github</li>
        <li>Création du projet symfony avec Symfony-cli</li>
        <li>Installation des composants make template annotation</li>
        <li>Création de la première page uniquement en HTML</li>
        <li>Ajout du framework Bootstrap</li>
        <li>Ajout d'une barre de navigation</li>
    </ul>



{% endblock %}
