{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
<h1>Ingrédient technique</h1>
    <p>
        Ce site a pour objectif de partager mon expérience dans le domaine du développement Web. <br>
        Le site se construira tout doucement, au fur et à mesure des tutos disponibles sur la chaîne Youtube
        https://www.youtube.com/channel/UCHg1PozgcwL_iCdFFzNLeOw/
    </p>
{% endblock %}
