{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron">
            <div class="container">
                <h3>Objectif</h3>
                <p>
                    Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
                    Et de créer un site permettant de réviser et de s' auto-évaluer.
                </p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>Derniers tutoriels</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Historique</h4>
                    </div>

                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-md-6 my-2">
                Une chaîne Youtube sera également disponible https://www.youtube.com/channel/UCHg1PozgcwL_iCdFFzNLeOw/
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}
