{% extends 'base.html.twig' %}

{% block title %}Ingrédient Technique{% endblock %}
{% block body %}
    <header class="header-jumbotron">
            <p class="area-presentation">
                Bienvenue sur le site d'Ingrédient Technique. Ce site est en quelque sorte mon laboratoire pour
                tester les technologies du Web (HTML, CSS, JAVASCRIPT, PHP, Symfony ...)
                Je suis un petit développeur qui souhaite progresser et partager sa petite expérience...
                Le site va se construire au fur et à mesure. Aujourd'hui, il ne ressemble pas à grand chose mais j'espère le faire évoluer rapidement.
            </p>
            <div class="area-design">
                <div class="box box-html"><span>HTML5</span></div>
                <div class="box box-css"><span>CSS3</span></div>
                <div class="box box-javascript"><span>JS</span></div>
                <div class="box box-php"><span>PHP</span></div>
                <div class="box box-sql"><span>SQL</span></div>
            </div>
            <div class="area-sentence">
                <div class="sentence">
                    <span>Ready
                    &#9632;</span>
                    <p>{{ sentence.content }}</p>
                    <blockquote class="text-right">{{ sentence.author }}</blockquote>
                </div>
            </div>
    </header>

    <div class="wrapper bg-grey">
    <h1>{{ concept.title }}</h1>

    <p>{{ concept.content|raw }}</p>
    </div>
    
             
{% endblock %}
