{% extends 'base.html.twig' %}

{% block title %}Edit Sentence{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h4>Edition de phrase</h4>

        {{ include('sentence/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('sentence/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
