{% extends 'base.html.twig' %}

{% block title %}New Sentence{% endblock %}

{% block body %}
    <div class="wrapper">
        <h4>Ajout d'une phrase</h4>
        {{ include('sentence/_form.html.twig') }}
    </div>
{% endblock %}
