{% extends 'base.html.twig' %}

{% block title %}New Sentence{% endblock %}

{% block body %}
    <h1>Create new Sentence</h1>

    {{ include('sentence/_form.html.twig') }}

    <a href="{{ path('sentence_index') }}">back to list</a>
{% endblock %}
