<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scalable=1.0">-->
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Ingrédient Technique{% endblock %}</title>
        {% block stylesheets %}
           {% include('stylesheets.html.twig') %}
        {% endblock %}
    </head>
    <body>
    <!-- NAVBAR -->
    {% block navbar %}
        {% include('navbar.html.twig') %}
    {% endblock %}

    <!-- BODY -->
    <div class="main">
        {% block body %}{% endblock %}
    </div>
    
    <!-- FOOTER -->
    {% include('default/footer.html.twig') %}
    
        {% block javascripts %}
            {% include('javascripts.html.twig') %}
        {% endblock %}
    </body>
</html>
