
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ path('default') }}">Ingrédient Technique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    {% if (app.user) and (is_granted('ROLE_ADMIN')) %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <!-- Menu pour les notions -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConcept" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownConcept">
                <a class="dropdown-item" href="#">Liste</a>
                <a class="dropdown-item" href="#">Ajouter</a>
                </div>
            </li>
            <!-- Menu pour les thèmes -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTheme" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thèmes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTheme">
                <a class="dropdown-item" href="#">Liste</a>
                <a class="dropdown-item" href="{{ path('theme_add') }}">Ajouter</a>
                </div>
            </li>
            <!-- Menu pour les routines -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRoutine" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Routines
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownRoutine">
                <a class="dropdown-item" href="#">Liste</a>
                <a class="dropdown-item" href="#">Ajouter</a>
                </div>
            </li>
            <!-- Menu pour les exercices -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExercise" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercices
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownExercise">
                <a class="dropdown-item" href="#">Liste</a>
                <a class="dropdown-item" href="#">Ajouter</a>
                </div>
            </li>
            </ul>
        </div>
    {% endif %}
</nav>